body {
    background-color: rgb(247, 250, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: white;
    margin: 5% auto 0 auto;
    width: 40%;
    border: 2px solid rgb(190, 193, 201);
    padding: 2% 4% 2% 4%;
    text-align: center;
}

#about-img {
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#first-content{
    margin-top: 5%;
    text-align: left;
}

#second-content{
    text-align: left;
}
ul{
    text-align: left;
    list-style-position: inside;
}

.index-links {
    text-decoration: none;
    color: rgb(0,0,100);
}
