body {
    background-color: #222831;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  #eeeeee;
}

#img-container {
    margin: 1% auto 0 auto;
    width:40%;
    text-align: center;
}

#container {
    margin: 1% auto 0 auto;
    width:30%;
    padding: 0% 4% 2% 4%;
    text-align: center;
}

#index-img {
    height: auto;
    width: 45%;
    text-align: center;
    
}

p{
    margin-top: 5%;
    text-align: left;
}

ul{
    text-align: left;
    list-style-position: inside;
}

.index-links {
    text-decoration: none;
    color: rgb(0,0,100);
}

