
body {
    background-color: #222831;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  #eeeeee;
}

#img-container {
    margin: 1% auto 0 auto;
    width:40%;
    text-align: center;
}

#text-container {
    margin: 1% auto 1% auto;
    width:500px;
    padding: 0% 4% 2% 4%;
    text-align: center;
}

#index-img {
    height: auto;
    width: 45%;
    text-align: center;
}

#intro{
    margin-top: 5%;
    text-align: left;
}

.timeline-container{
    min-height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline{
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline_list {
  list-style: none;
}
.timeline_list li {
    padding: 20px;
    background-color: #393e46;
    border-radius: 10px;
    margin-bottom: 20px;
}

.block-list li{
  list-style: disc;
  padding: 0px;
  margin-bottom: 5px;
  margin-left: 40px;
}


.timeline-content h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.timeline-content h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline_block h2 {
  margin-bottom: 10px;
}

.indent {
  padding-left: 35px;
}

.break {
    color:#00adb5;
    text-align: center;
    margin-bottom: 40px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }