#container {
    background-color: white;
    margin: 5% auto 0 auto;
    width:40%;
    border: 2px solid rgb(190, 193, 201);
    padding: 10% 10% 10% 10%;
    text-align: center;
}

#index-img {
    height: auto;
    width: 50%;
    text-align: center;
}

p{
    margin-top: 5%;
    text-align: left;
}

ul{
    text-align: left;
}